<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${DAO.fullClassName}">

    <resultMap id="ALL-RESULTMAP" type="${POJO.fullClassName}">
    #foreach($column in $table.columns)
        <result property="${column.variableName}" column="${column.jdbcName}" javaType="${column.javaType}" jdbcType="${column.mybatisType}"/>
    #end

    </resultMap>


    <sql id="ALL-COLS">
        #foreach($column in $table.columns)
            #if($velocityCount != $table.columns.size())
                ${column.jdbcName},
            #else
                ${column.jdbcName}
            #end
        #end
    </sql>

    <insert id="insert" parameterType="${POJO.fullClassName}" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into ${table.name}
        <include refid="ALL-COLS"/>
        values
        (
        #foreach($column in $table.columns)
            #if($velocityCount != $table.columns.size())
                #{${column.variableName},jdbcType=${column.mybatisType}},
            #else
                #{${column.variableName},jdbcType=${column.mybatisType}}
            #end
        #end
        )
    </insert>

</mapper>
